@import "../general/variables.scss";

.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-md);

  @each $key, $value in $sizes {
    &--#{$key} {
      gap: var(--spacing-#{$key});
    }
  }
}
