html
  head
    title Chapter 1
  body
    include ../shared/navbar.pug
    header
      h1 Chapter 2 - Program Structure
    section
      h2 Looping a Triangle
      p Write a loop that outputs a triangle with seven lines: 
      