html
  head
    title Chapter 1
  body
    nav
      ul 
        li
          a(href="/") Home
        li
          a(href="/chapter-1") Chapter 1
        li
          a(href="/chapter-1") Chapter 2
    h1 Chapter 1