html
  head
    title= title
  body
    nav
      ul 
        li
          a(href="/chapter-1") Chapter 1
        li
          a(href="/chapter-1") Chapter 2
    h1 
      | This website contains solutions to the exercises in the 
      a(href="/") eloquent javascript book