/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --spacing-xxs: 4px;
  --spacing-xs: 12px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-xxxl: 64px;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-bottom: var(--spacing-xxl);
  background-color: floralwhite;
  min-height: 100vh;
}
.app pre {
  background-color: #454545;
  color: azure;
  font-family: monospace;
  font-size: 16px;
  padding: var(--spacing-sm);
  border-radius: 6px;
}

.container {
  display: grid;
  grid-template-columns: minmax(var(--spacing-md), 1fr) minmax(0, 1024px) minmax(var(--spacing-md), 1fr);
}
.container > * {
  grid-column: 2/2;
}

.navbar {
  padding: var(--spacing-md) 0;
}

:root {
  --spacing-xxs: 4px;
  --spacing-xs: 12px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-xxxl: 64px;
}

.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-md);
}
.stack--xxs {
  gap: var(--spacing-xxs);
}
.stack--xs {
  gap: var(--spacing-xs);
}
.stack--sm {
  gap: var(--spacing-sm);
}
.stack--md {
  gap: var(--spacing-md);
}
.stack--lg {
  gap: var(--spacing-lg);
}
.stack--xl {
  gap: var(--spacing-xl);
}
.stack--xxl {
  gap: var(--spacing-xxl);
}
.stack--xxxl {
  gap: var(--spacing-xxxl);
}

:root {
  --spacing-xxs: 4px;
  --spacing-xs: 12px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-xxxl: 64px;
}

.line {
  display: flex;
  gap: var(--spacing-md);
}
.line--xxs {
  gap: var(--spacing-xxs);
}
.line--xs {
  gap: var(--spacing-xs);
}
.line--sm {
  gap: var(--spacing-sm);
}
.line--md {
  gap: var(--spacing-md);
}
.line--lg {
  gap: var(--spacing-lg);
}
.line--xl {
  gap: var(--spacing-xl);
}
.line--xxl {
  gap: var(--spacing-xxl);
}
.line--xxxl {
  gap: var(--spacing-xxxl);
}

.heading {
  font-weight: 600;
}
.heading--1 {
  font-size: 36px;
}
.heading--2 {
  font-size: 30px;
}
.heading--3 {
  font-size: 24px;
}
.heading--4 {
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
